@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font: 'Poppins', sans-serif;
}

.main-hot-recipes--header {
    display: flex;
    justify-content: space-between;
}

.main-hot-recipes--header h1 {
    font-family: var(--font);
    color: #282828;
    font-size: 21px;
}

.main-hot-recipes--header .link {
    display: flex;
    text-decoration: none;
}

.main-hot-recipes--header .link p {
    font-family: var(--font);
    color: #ffc33c;
    font-size: 17px;
    margin-top: 18px;
    margin-right: -30px;
}

.main-hot-recipes--header .link .icon {
    margin-top: -2px;
}