.Recipe-Card--Link {
    text-decoration: none;
}

.Recipe-Card {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.Recipe-Card .Recipe-Card--recipeImage .recipeImage {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.Recipe-Card .Recipe-Card--recipeContent h2 {
    font-family: var(--font);
    color: var(--fontColor-Primary);
    font-size: 1rem;
    margin-top: 7px;
    margin-bottom: 8px;
}

.Recipe-Card .Recipe-Card--recipeContent p {
    font-family: var(--font);
    color: #808080;
    font-size: 15px;
}