.similar-recipes {
    display: flex;
    justify-content: space-between;
}

.similar-recipes .similiar-recipes--h1 {
    font-family: var(--font);
    color: var(--fontColor-Primary);
    font-size: 21px;
}

.similar-recipes .similiar-recipes--link {
    display: flex;
    text-decoration: none;
}

.similar-recipes .similiar-recipes--link .similiar-recipes--link-p {
    font-family: var(--font);
    color: var(--fontColor-Secondary);
    font-size: 17px;
    margin-top: 18px;
    margin-right: -30px;
}

.main-similar-recipes--header .main-similiar-recipes--header-link .icon {
    margin-top: -2px;
}