.Random-Recipe-title {
    font-family: var(--font); 
    color: var(--fontColor-Primary);
    font-size: 21px;
}

.Random-Recipe--trending-foods {
    position: relative;
    display: flex;
    width: 330px;
    height: 230px;
    background-color: inherit;
    overflow: hidden;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}