@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bgColor: #FFFFFF;
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 260px;
    height: 17px;
    padding: 10px;
    padding-left: 15px;
    background-color: var(--bgColor);
    font-family: 'Poppins', sans-serif;
    color: #282828;
    font-size: 17px;
    font-weight: 400;

    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    border-radius: 0 15px 15px 0;
    background-color: var(--bgColor);
}